<h4 class="creation-header">
    Select a Word Type to enter: 
</h4>
<mat-tab-group dynamicHeight mat-stretch-tabs="true" mat-align-tabs="center" class="tab-group">
    <mat-tab label="Noun" class="example-large-box mat-elevation-z4">
        <div class="tab">
            <app-submission [wordType]="wordType.Noun" [httpAction]="httpMethod.POST"></app-submission>
        </div>
    </mat-tab>
    <mat-tab label="Verb" class="tab">
        <div class="tab">
            <app-submission [wordType]="wordType.Verb" [httpAction]="httpMethod.POST"></app-submission>
        </div>
    </mat-tab>
    <mat-tab label="Adjective" class="tab">
        <div class="tab">
            <app-submission [wordType]="wordType.Adjective" [httpAction]="httpMethod.POST"></app-submission>
        </div>
    </mat-tab>
    <mat-tab label="Adverb" class="tab">
        <div class="tab">
            <app-submission [wordType]="wordType.Adverb" [httpAction]="httpMethod.POST"></app-submission>
        </div>     
    </mat-tab>
    <mat-tab label="Pronoun" class="tab">
        <div class="tab">
            <app-submission [wordType]="wordType.Pronoun" [httpAction]="httpMethod.POST"></app-submission>
        </div>
    </mat-tab>
    <mat-tab label="Preposition" class="tab">
        <div class="tab">
            <app-submission [wordType]="wordType.Preposition" [httpAction]="httpMethod.POST"></app-submission>
        </div>      
    </mat-tab>
    <mat-tab label="Interjection" class="tab">
        <div class="tab">
            <app-submission [wordType]="wordType.Interjection" [httpAction]="httpMethod.POST"></app-submission>
        </div> 
    </mat-tab>
    <mat-tab label="Conjunction" class="tab">
        <div class="tab">
            <app-submission [wordType]="wordType.Conjunction" [httpAction]="httpMethod.POST"></app-submission>
        </div>
    </mat-tab>
    <mat-tab label="Determiner" class="tab">
        <div class="tab">
            <app-submission [wordType]="wordType.Determiner" [httpAction]="httpMethod.POST"></app-submission>
        </div>
    </mat-tab>
</mat-tab-group>
