<mat-drawer-container autosize class="container">
    <mat-drawer #drawer class="sidenav">
        <ng-container *ngIf="isAuthenticated">
            <button (click)="setView(homeView.GetWordsPage); drawer.toggle()" mat-button class="nav-button">
                View All Documented Words
            </button>
            <button (click)="setView(homeView.CreateWordPage); drawer.toggle()" mat-button class="nav-button">
                Document a Word
            </button>
            <button (click)="setView(homeView.UpdateWordPage); drawer.toggle()" mat-button class="nav-button">
                Update an Already Documented Word
            </button>
            <button (click)="setView(homeView.DeleteWordPage); drawer.toggle()" mat-button class="nav-button">
                Remove a Word From Your Vocabulary
            </button>
        </ng-container>
    </mat-drawer>
    
    <mat-drawer-content>
        <mat-toolbar color="primary" *ngIf="isAuthenticated">
          <button mat-icon-button (click)="drawer.toggle()" >
            <mat-icon>menu</mat-icon>
          </button>
          <span>Menu</span>
        </mat-toolbar>
        <div class="main-page">
            <div class="shrinker ">
                <div *ngIf="currentView === homeView.LandingPage">
                    <h1 class="header">
                    Document Your Vocabulary
                    </h1>
                    <h5 class="header">
                        Add, Delete, Update and View words you've committed to your vocabulary.
                    </h5>
                    <button mat-fab extended (click)="loginWithGitHub()" *ngIf="!isAuthenticated" class="login">
                        Login with GitHub
                    </button>
                    <app-installer></app-installer>
                </div>
                <app-get-words *ngIf="currentView === homeView.GetWordsPage" [visible]="currentView === homeView.GetWordsPage"></app-get-words>
                <app-create-word *ngIf="currentView === homeView.CreateWordPage"></app-create-word>
                <app-update-word *ngIf="currentView === homeView.UpdateWordPage"></app-update-word>
                <app-delete-word *ngIf="currentView === homeView.DeleteWordPage"></app-delete-word> 
            </div>
        </div>
    </mat-drawer-content>
  </mat-drawer-container>
  
