<div class="submission">
    <input 
      *ngIf="isDelete()"  
      matInput class="input-box"
      type="text"
      [value]="selectedWord()?.word"
      placeholder="Selected Word to Delete"
      hidden="true">

    <input 
    *ngIf="!isDelete()"
      matInput class="input-box"
      type="text"
      placeholder="Enter a Word"
      [(ngModel)]="submittedItem">
    <div class="submit-button">
        <button mat-fab extended (click)="httpSubmit()" class="button-content">
          Submit
        </button>
      </div>
</div>

