.table {
    width: 100%;
    
  }

.shrinker {
  padding-left: 20%;
  padding-right: 20%;
  
}

.border {
  border: solid 1px lightblue;
}

@media only screen and (max-width: 450px) {
  .shrinker {
    padding-left: 5%;
    padding-right: 5%;
    
  }
}