<table mat-table [dataSource]="existingWords" class="mat-elevation-z8" class="shrinker table">
  <ng-container matColumnDef="Word">
    <th mat-header-cell *matHeaderCellDef> Word </th>
    <td mat-cell *matCellDef="let element">
      {{ element.word }}
      <mat-icon mat-icon-button (click)="openDefinitionDialog(element.word)" matTooltip="View definition">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1f1f1f" class="icon-style"><path [attr.d]="infoIconPath"/></svg>
      </mat-icon>
    </td>
  </ng-container>
  <ng-container matColumnDef="Type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{ WordType[element.type] }} </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  