<h4 class="header">
    Enter a Word to Remove from your Vocabulary: 
  </h4>
  <div class="container">
    <input 
      matInput 
      [formControl]="control" 
      placeholder="Search for a Word to Delete"
      [matAutocomplete]="auto" 
      class="auto-complete-input">
    
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption (optionSelected)="onOptionSelected($event)">
      <mat-option *ngFor="let w of filteredWords | async" [value]="w.word">
        {{ w.word }}
      </mat-option>
    </mat-autocomplete>
  
    <app-submission 
      [httpAction]="httpMethod.DELETE" 
      [selectedWord]="selectedWord"
      (outputedWord)="handleDeletedWord($event)" 
      [isDelete]="true"
      class="border">
    </app-submission>
  </div>
  