<h4 class="header">
    Update an Incorrect Word: 
</h4>
<div class="container">
    <input type="text"
        matInput
        placeholder="Search and Select an Existing Word"
        [formControl]="control"
        [matAutocomplete]="auto"
        class="auto-complete-input">
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let w of filteredWords | async" 
        [value]="w.word" (onSelectionChange)="selectedWord = w">
            {{ w.word }}
        </mat-option>
    </mat-autocomplete>
    <app-submission [httpAction]="httpMethod.PUT" 
    [selectedWord]="selectedWord"
    (outputedWord)="handleUpdatedWord($event)" 
    class="border"
    [isDelete]="false"></app-submission>
</div>

